@keyframes movement {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(calc(100vw + 150px), 0px);
  }
}

.moving-mammoth {
  animation-name: movement;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}