.finished-count {
  @apply text-amber-500 text-2xl text-center;
}

.number-overlay {
  position: absolute;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: larger;
  left: 50px;
  top: 50px;
}
